@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header .left-links,
.header .right-links {
  display: flex;
  padding-left: 15px;
  column-gap: 1em;
}
.header .right-links {
  padding-left: 0;
  padding-right: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10rem;
  padding-bottom: 0;
}

.input {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}
